<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #petForm="ngForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12 order-md-1">
                        <div class="mb-3">
                            <label for="name">Name</label>
                            <div class="input-group">
                                <input type="text" [(ngModel)]="pet.name" class="form-control" id="name" name="name"
                                    placeholder="Name" required #name="ngModel">
                            </div>
                            <div [hidden]="!name.pristine" class="alert alert-warning">Name is required</div>
                        </div>

                        <div class="mb-3">
                            <label for="code">Code</label>
                            <div class="input-group">
                                <input type="text" [(ngModel)]="pet.code" class="form-control" id="code" name="code"
                                    placeholder="Code" required #code="ngModel">
                            </div>
                            <div [hidden]="!code.pristine" class="alert alert-warning">Code is required</div>
                        </div>

                        <div class="mb-3">
                            <label for="types">Type</label>
                            <div class="input-group">
                                <select class="form-select d-block w-100" [(ngModel)]="pet.type" id="type" name="type"
                                    required #type="ngModel">

                                    <option value="Cat">Cat</option>
                                    <option value="Dog">Dog</option>
                                    <option value="Horse">Horse</option>
                                    <option value="Rabbit">Rabbit</option>
                                    <option value="Parrot">Parrot</option>
                                </select>
                            </div>
                            <div [hidden]="!type.pristine" class="alert alert-warning">Type is required</div>
                        </div>

                        <div class="mb-3">
                            <label for="colors">Fur color</label>
                            <div class="input-group">
                                <select class="form-select d-block w-100" [(ngModel)]="pet.color" id="colors"
                                    name="color" required #color="ngModel">
                                    <option value="Black">Black</option>
                                    <option value="White">White</option>
                                    <option value="Brown">Brown</option>
                                    <option value="Yellow">Yellow</option>
                                    <option value="Blue">Blue</option>
                                </select>
                            </div>
                            <div [hidden]="!color.pristine" class="alert alert-warning">Type is required</div>
                        </div>

                        <div class="mb-3">
                            <label for="countries">Country of origin</label>
                            <div class="input-group">
                                <select class="form-select d-block w-100" id="countries" [(ngModel)]="pet.country"
                                    name="country" required #country="ngModel">
                                    <option value="Estonia">Estonia</option>
                                    <option value="Latvia">Latvia</option>
                                    <option value="Lithuania">Lithuania</option>
                                    <option value="Finland">Finland</option>
                                    <option value="Sweden">Sweden</option>
                                    <option value="Norway">Norway</option>
                                </select>
                            </div>
                            <div [hidden]="!country.pristine" class="alert alert-warning">Type is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" [disabled]="!petForm.form.valid"  class="btn btn-info">Submit</button>
        </form>
    </div>
</div>